.App {
  text-align: center;
  background-color: lightgrey;
  padding: 20px;
  height: 650px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.inputs {
  height: 2rem;
  width: 175px;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  border-radius: 10px;
  margin: 5px;
}
.button {
  height: 2.5rem;
  width: 188px;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: orange;
}
